---
import Topbar from "@/components/Topbar.astro";
import YatccNavMenu from "./YatccNavMenu.astro";
import { tOfUrl } from "@/i18n/utils";

const t = tOfUrl(Astro.url);
---

<div>
  <Topbar logoText="YatCC AI" menuLabel={t("nav.menu")}>
    <Fragment slot="nav-items">
      <YatccNavMenu layout="inline" />
    </Fragment>
    <Fragment slot="nav-overflow">
      <YatccNavMenu layout="stacked" />
    </Fragment>
  </Topbar>
</div>
