---
interface Props {
  id?: string;
  borderRadius?: string;
  padding?: string;
  href?: string;
}

const {
  id,
  borderRadius = "clamp(4px, 1em, 20px)",
  padding = "0.6em 1.5em",
  href = "#",
} = Astro.props;
---

<a href={href} class="button-container">
  <button id={id} class="button">
    <slot />
  </button>
</a>

<style
  define:vars={{
    padding: padding,
    borderRadius: borderRadius,
  }}
>
  .button-container {
    display: inline-flex;
    text-decoration: none;
    width: fit-content;
  }

  .button {
    border: none;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background: var(--bg-color-dimmer);
    padding: var(--padding);
    border-radius: var(--borderRadius);
    color: var(--text-color);
    font-weight: bold;
    width: auto;
    height: auto;
    /* font-size: 1vw; */
    font-size: clamp(10px, 1rem, 10vw);

    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(1);
  }

  .button:hover {
    background: color-mix(in srgb, var(--bg-color-dimmer), white 15%);
    transform: scale(1.05);
  }

  .button:active {
    transform: scale(0.96);
    background: color-mix(in srgb, var(--bg-color-dimmer), black 10%);

    transition: all 0.1s ease;
  }

  @media (max-width: 400px) {
    .button-container,
    .button {
      width: 100%;
    }
  }
</style>
