---
interface Props {
  gap?: string;
}

const { gap = "160px" } = Astro.props;
---

<div class="fix-page-container">
  <slot />
</div>

<style define:vars={{ gap }}>
  .fix-page-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: calc(100dvh - var(--navbar-height));
    gap: var(--gap);
  }
</style>
