---
import "@styles/global.css";
import ThemeManager from "@components/ThemeManager.astro";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" /> -->
    <link rel="icon" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <ThemeManager />
    <title>YatCC AI</title>
  </head>
  <body>
    <slot />
  </body>
</html>
